/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

/* HEADER */
.title {
    background: white;
    padding: 30px 0;
    text-align: center;
}

.title h1 {
    color: rgb(255, 166, 0);
    font-size: 28px;
}

/* CONTENITORE PRINCIPALE */
.container-header {
    width: 95%;
    margin: 0 auto;
    background: white;
    border-radius: 12px;
    padding-bottom: 20px;
    margin-top: 20px;
}

/* TESTI del hader */
.dolce p {
    padding-top: 20px;
    font-size: 13px;
    color: #555;
}

.dolce h2 {
    padding: 10px 0;
    color: #4d0a8f;
    font-size: 26px;
}

/* VIDEO RESPONSIVE */
.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin: 20px 0;
}

.video-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* BOX "ricette" */
.ricetta {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
}

.ricetta h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.ricetta ul {
    list-style: none;
    font-size: 15px;
    line-height: 25px;
}

/* SOCIAL BUTTONS */
.button-social {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    padding: 20px;
    flex-wrap: wrap;
}

.button-social button {
    padding: 10px;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    background-color: #d32424;
    
}